 <style type="text/css"> 
	 
	#titulo {
			
			border: 4px double #666666;
			border-width: 10px 10px 10px 10px;
			background: #99cccc;
			padding: 10px;
			position: relative;
			top: 0px;
			right: 0px;
			left: 0px;
			width: 1400x;
			height: 80px;
			
				
				
	}
	
	#opções {
	
			border-bottom: 2px solid black;
			border-width: 2px 2px 2px 2px;
			padding: 5px;
			background: ghostwhite;
			position: relative;
			top: 0px;
			right: 0px;
			left: 0px;
			width: 1400x;
			height: 60px;
			
			
	}
	
	#buscar {
	
			border-bottom: 2px solid black;
			border-width: 2px 2px 2px 2px;
			padding: 5px;
			background: ghostwhite;
			position: relative;
			top: 10px;
			right: 0px;
			left: 0px;
			width: 1000x;
			height: 30px;
	
	}
	
	#navegação {
	
			border: 2px dashed black;
			border-width: 2px 2px 2px 2px;
			padding: 5px;
			background: ghostwhite;
			position: relative;
			top: 100px;
			right: 0px;
			left: 0px;
			width: 1000px;
			height: 1000px;
	
	}
	
	#artigos {
	
			border: 2px dashed black;
			border-width: 2px 2px 2px 2px;
			padding: 5px;
			background: ghostwhite;
			position: relative;
			top: -914px;
			right: 0px;
			left: 1020px;
			width: 300px;
			height: 1000px;
	
	
	}
	
	#rodapé {
	
		
			border: 2px dashed black;
			border-width: 2px 2px 2px 2px;
			padding: 5px;
			background: ghostwhite;
			position: relative;
			top: -900px;
			right: 0px;
			left: 0px;
			width: 99%;
			height: 80px;
	
	}
	
	
	 </style>